{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

{% if form and form.errors %}
<div class="toast-container position-fixed top-0 end-0 p-3 mt-5 pt-4" style="z-index:1080;">
    {% for error in form.non_field_errors %}
    {% include "includes/toasts/toast_error.html" with message=error %}
    {% endfor %}
</div>
{% endif %}

<div class="home-hero d-flex align-items-center">
    <div class="container error-content py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="bg-white p-5 shadow">

                    <h2 class="text-center mb-4">Sign In</h2>

                    <form method="POST" action="{% url 'account_login' %}" class="row g-4">
                        {% csrf_token %}

                        <div class="col-12">
                            <label class="form-label fw-semibold">Email</label>
                            {{ form.login|add_class:"form-control form-control-lg" }}
                        </div>

                        <div class="col-12">
                            <label class="form-label fw-semibold">Password</label>
                            {{ form.password|add_class:"form-control form-control-lg" }}
                        </div>

                        <div class="col-12">
                            <button type="submit"
                                class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 w-100 mt-3">
                                Sign In
                            </button>
                        </div>
                    </form>

                    <p class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                    </p>

                    <p class="text-center mt-2 mb-0">
                        Don’t have an account?
                        <a href="{% url 'account_signup' %}">Register</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}