<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
  {% csrf_token %}

  <div class="input-group input-group-{{ item.item_id }}">


    <button type="button" class="btn btn-dark decrement-qty decrement-qty_{{ item.item_id }}"
      data-item_id="{{ item.item_id }}">
      <i class="fas fa-minus"></i>
    </button>

    <input class="form-control text-center qty_input id_qty_{{ item.item_id }}" type="number" name="quantity"
      value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}">


    <button type="button" class="btn btn-dark increment-qty increment-qty_{{ item.item_id }}"
      data-item_id="{{ item.item_id }}">
      <i class="fas fa-plus"></i>
    </button>

  </div>


  <!-- ✅ UPDATE BUTTON INSIDE FORM -->
  <button type="submit" class="btn btn-sm btn-outline-info">
    Update
  </button>
</form>

<!-- REMOVE stays outside -->
<button type="button" class="btn btn-sm btn-outline-danger float-right remove-item" id="remove_{{ item.item_id }}">
  Remove
</button>