.home-hero {
    height: 100vh;
    background-image: url("/static/images/home-page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}