.home-hero {
    flex: 1;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: url("/static/images/home-pagev2.jpg") center bottom / cover no-repeat;
}

.home-hero .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.hero-content {
    margin-top: 12vh;
}

@media (min-width: 992px) and (max-height: 800px) {
    .hero-content {
        margin-top: 8vh;
    }
}