.home-hero {
    flex: 1;
    background:
        linear-gradient(rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)),
        url("/static/images/home-pagev2.jpg") center / contain no-repeat;
}