html,
body {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    font-size: 0.9rem;
}

.top-header {
    background: #111;
}

.top-header .top-header-link {
    color: #fff;
    text-decoration: none;
}

.top-header .top-header-link:hover {
    text-decoration: underline;
}

.toast-container .toast {
    width: 360px;
    margin-bottom: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    overflow: visible !important;
}

.custom-toast {
    position: relative;
    overflow: visible !important;
}

.arrow-up {
    position: absolute;
    top: -10px;
    right: 22px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    z-index: 10;
}

/* stop the toast growing off-screen */
.toast-container .toast {
    max-height: 80vh;
    /* never taller than 80% of screen */
    overflow: hidden !important;
}

.input-group .btn {
    min-width: 38px;
    border-radius: 0;
}