<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="logo-font fw-bold nav-link text-black me-3" href="#" id="home-link">
                Home
            </a>
        </li>

        <!-- RAM -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-3 dropdown-toggle" href="#" id="ram-link"
                data-bs-toggle="dropdown" aria-expanded="false">
                RAM
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="ram-link">
                <li class="dropdown-header">Desktop RAM (DIMM)</li>
                <li><a href="#" class="dropdown-item">DDR2</a></li>
                <li><a href="#" class="dropdown-item">DDR3</a></li>
                <li><a href="#" class="dropdown-item">DDR4</a></li>
                <li><a href="#" class="dropdown-item">DDR5</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li class="dropdown-header">Laptop RAM (SO-DIMM)</li>
                <li><a href="#" class="dropdown-item">DDR2</a></li>
                <li><a href="#" class="dropdown-item">DDR3</a></li>
                <li><a href="#" class="dropdown-item">DDR4</a></li>
                <li><a href="#" class="dropdown-item">DDR5</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a href="#" class="dropdown-item fw-bold">All RAM</a></li>
            </ul>
        </li>
    </ul>
</div>