<div class="top-header py-2">
    <div class="container">
        <div class="d-flex justify-content-end align-items-center gap-3 small">

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Deliver to: 🇮🇪
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Ireland</a></li>
                    <li><a class="dropdown-item" href="#">UK</a></li>
                    <li><a class="dropdown-item" href="#">EU</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    € EUR
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">EUR (€)</a></li>
                    <li><a class="dropdown-item" href="#">GBP (£)</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    My Quotes
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">View Quotes</a></li>
                    <li><a class="dropdown-item" href="#">Request Quote</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    My Account
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Register</a></li>
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>