<div class="top-header py-2">
    <div class="container">
        <div class="d-flex justify-content-end align-items-center gap-3 small">

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Deliver to: 🇮🇪
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Ireland</a></li>
                    <li><a class="dropdown-item" href="#">UK</a></li>
                    <li><a class="dropdown-item" href="#">EU</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    € EUR
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">EUR (€)</a></li>
                    <li><a class="dropdown-item" href="#">GBP (£)</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    My Quotes
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">View Quotes</a></li>
                    <li><a class="dropdown-item" href="#">Request Quote</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="top-header-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    My Account
                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">
                            Register
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_login' %}">
                            Login
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>

            <a href="{% url 'view_bag' %}" class="top-header-link d-flex align-items-center gap-1">
                <i class="bi bi-bag"></i>

                {% if product_count %}
                <span>Bag ({{ product_count }})</span>
                <span>€{{ total|floatformat:2 }}</span>
                {% else %}
                <span>Bag (0)</span>
                {% endif %}
            </a>


        </div>
    </div>
</div>